body {
	margin: 0;
	padding: 0;
	/* TODO: Implement theming */
	/* background: lightgrey; */
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('/assets/halloween-background.svg');
	background-size: cover;
	background-color: #0C0A0C;
}

body,
#app {
	max-width: 100vh;
	max-height: 100vh;
	overflow: hidden;
	margin: 0 auto;
}
